# Віртуальне середовище
venv/
.venv/
env/

# Кеш Python і компільовані файли
__pycache__/
*.py[cod]
*$py.class

# Файли зі змінними оточення та секретами
.env
.env.local

# Налаштування редакторів та IDE
.vscode/
.idea/
*.swp

# Системні файли
.DS_Store
Thumbs.db
